<!DOCTYPE html>
<html lang="ja">
<head>
    <title>GitHub ID Checker</title>
    <link rel="shortcut icon" href="assets/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="stylesheet" href="assets/style.css"/>
</head>
<body>
<div id="wrapper">
    <h1>GitHub ID Checker</h1>
    <div id="target">
        for
        <h2>{{.Org}}</h2>
        <img src="https://github.com/{{.Org}}.png" id="large-logo" alt="[{{.Org}}]"/>
    </div>
    <p>
        エラーが発生しました。
    </p>
    {{.Message}}
    <div id="footer">
        &copy;2020 <a href="https://github.com/mikan/github-id-checker">github-id-checker</a>
    </div>
</div>
</body>
</html>
